.main {
  border: 1px solid red;
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: space-evenly;
}
.left {
  border: 1px solid green;
  width: 40%;
  display: flex;
  justify-content: center;
  padding-top: 10%;
}
.right {
  border: 1px solid green;
  width: 40%;
}
.header {
  font-size: 32px;
  color: black;
  font-weight: bold;
}
